.customer_section {
  display: flex;
  column-gap: 78px;
}
.pera {
  color: var(--neutralgrey);
  font-family: var(--body-medium-body-4-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
}
.comone_pera {
  color: var(--brandprimary);
  font-family: var(--body-medium-body-4-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.pera2 {
  color: var(--neutrallgrey);

  font-family: var(--body-medium-body-4-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 8px 0px 32px 0px;
}

.CR_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 790px) {
  .customer_section {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
  }
  .CR_logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (max-width: 1100px) {
  .CR_logo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
