.footer_section {
  background-color: #263238;
  margin-top: 250px;
}
.footer {
  display: flex;
  justify-content: flex-start;
  gap: 125px;
  align-items: stretch;
  padding: 64px 0px;
}
.Logo_Icon_section {
  width: 30%;
}
.icon_section {
  display: flex;
  column-gap: 16px;
}
.footer_menu_section {
  width: 636px;
  display: flex;
  column-gap: 30px;
}
.footer_menu {
  width: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  justify-content: space-between;
}
.footer_copyRight {
  margin: 40px 0px;
}
.footer_copyRight p,
.footer_menu p {
  color: var(--neutralsilver);
  font-family: var(--body-regular-body-3-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 6px;
}
.footer_header_text {
  color: var(--neutralwhite);
  font-family: var(--button-link-small-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 24px;
}

/* ================= */
@media only screen and (max-width: 660px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;
  }
  .responsive_footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 10px;
  }

  .footer_copyRight {
    margin-top: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* .footer {
    display: flex;
    flex-direction: column-reverse;
  } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {
    background: blue;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {
    background: orange;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {
    background: pink;
  }
}
