.system_header {
  color: var(--neutraldgrey);
  text-align: center;
  font-family: var(--body-medium-body-4-font-family);
  font-size: 36px;
  font-weight: 600;
}
.system_pera {
  color: var(--neutralgrey);
  text-align: center;
  font-family: var(--body-medium-body-4-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.card_section {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.card {
  text-align: center;
  width: 299px;
  height: auto;
  padding: 24px 32px;
  border-radius: 8px;
  background: var(--neutralwhite);
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
}
.card_title {
  color: var(--neutraldgrey);
  text-align: center;
  font-family: var(--body-medium-body-4-font-family);
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}
.card_pera {
  color: var(--neutralgrey);
  text-align: center;
  font-family: var(--body-medium-body-4-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 8px;
}
@media (max-width: 790px) {
  .card_section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 16px;
  }

  .card {
    margin-top: 20px;
  }
}
